{% extends 'html/base.html' %}

{% block content %}

<nav class="row align-items-center justify-content-between border-bottom p-1 mb-5">
    <div class="col-sm-4 align-self-center">
        <h2><strong>Welcome, user.alais</strong></h2>
    </div>
    <div class="col-sm-4 align-self-center">
        <a href="">Add Book & Review</a> | <a href="">Logout</a>
    </div>
</nav>
<div class="row">
    <div class="col-lg-6">
        <h2 class="mt-2 border-bottom">Recent Book Reviews:</h2>
        <h3 class="ml-3">Book Title Here</h3>
        <p class="ml-5">Rating: <i class="fas fa-star text-warning"></i> <i class="fas fa-star text-warning"></i></p>
        <p class="ml-5"><a href="">USER</a> says: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum aut nobis cumque fugiat, 
            eveniet nihil illum ad omnis natus ullam! Fugit quo nulla inventore quis laboriosam deleniti, sapiente iusto consequuntur.</p>
        <p class="ml-5 mb-2">Posted on DATE</p>
        
        <h3 class="ml-1">Book Title Here</h3>
        <p class="ml-2">Rating: STAR STAR STAR</p>
        <p class="ml-2"><a href="">USER</a> says: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum aut nobis cumque fugiat, 
            eveniet nihil illum ad omnis natus ullam! Fugit quo nulla inventore quis laboriosam deleniti, sapiente iusto consequuntur.</p>
        <p class="ml-2 mb-2">Posted on DATE</p>

        <h3 class="ml-1">Book Title Here</h3>
        <p class="ml-2">Rating: STAR STAR STAR</p>
        <p class="ml-2"><a href="">USER</a> says: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum aut nobis cumque fugiat, 
            eveniet nihil illum ad omnis natus ullam! Fugit quo nulla inventore quis laboriosam deleniti, sapiente iusto consequuntur.</p>
        <p class="ml-2 mb-2">Posted on DATE</p>
    </div>
    <div class="col-lg-6">
        <h2 class="border_bottom">Other Books With Reviews:</h2>
        <ul class="list-unstyled p-2">
            <li class="ml-4 mb-2"><a href="">Book Name</a></li>
            <li class="ml-4 mb-2"><a href="">Book Name</a></li>
            <li class="ml-4 mb-2"><a href="">Book Name</a></li>
            <li class="ml-4 mb-2"><a href="">Book Name</a></li>
            <li class="ml-4 mb-2"><a href="">Book Name</a></li>
            <li class="ml-4 mb-2"><a href="">Book Name</a></li>
        </ul>
    </div>
</div>

{% endblock content %}