{% extends 'html/base.html' %}

{% block content %}

<nav class="row align-items-center justify-content-between border-bottom p-1 mb-5">
    <div class="col-sm-4 align-self-center">
    </div>
    <div class="col-sm-4 align-self-center">
        <a href="">Home</a> | <a href="">Add Book & Review</a> | <a href="">Logout</a>
    </div>
</nav>
<div class="row">
    <div class="col-md-12">
        <h2>User Alais: USER ALAIS</h2>
        <p>Name: USER NAME</p>
        <p>email: USER EMAIL</p>
        <p>Books Reviewed: NUMBER OF REVIEWS</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Posted Reviews On The Following Books:</h3>
        <ul class="list-unstyled p-2">
            <li class="mt-1 mb-1 p-1"><a href="">BOOK NAME</a></li>
            <li class="mt-1 mb-1 p-1"><a href="">BOOK NAME</a></li>
            <li class="mt-1 mb-1 p-1"><a href="">BOOK NAME</a></li>
            <li class="mt-1 mb-1 p-1"><a href="">BOOK NAME</a></li>
        </ul>
    </div>
</div>

{% endblock content %}