{% extends 'html/base.html' %}

{% block content %}

<nav class="row align-items-center justify-content-between border-bottom p-1 mb-5">
    <div class="col-sm-4 align-self-center">
        <h2><strong>Welcome, user.alais</strong></h2>
    </div>
    <div class="col-sm-4 align-self-center">
        <a href="">Home</a> | <a href="">Logout</a>
    </div>
</nav>
<div>
    <h2>BOOK TITLE</h2>
    <p class="lead ml-5">AUTHOR NAME</p>
</div>
<div class="row">
    <div class="col-md-6 ml-1">
        <h2>Reviews:</h2>
        <hr class="seperator">
        <ul class="list-unstyled ml-3 p-2">
            <li class="mt-1 mb-1 p-1">Rating: STAR STAR STAR</li>
            <li class="mt-1 mb-1 p-1"><a href="">USER</a> says: Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo accusantium doloremque quisquam modi magnam. In distinctio provident repellat, 
                qui ipsum natus quia minima, facere quidem, quasi molestiae. Est, alias inventore.</li>
            <li class="mt-1 mb-1 p-1">Posted on DATE</li>
        </ul>
        <hr class="seperator">
        <ul class="list-unstyled p-2">
            <li>Rating: STAR STAR STAR</li>
            <li>USER says: Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo accusantium doloremque quisquam modi magnam. In distinctio provident repellat, 
                qui ipsum natus quia minima, facere quidem, quasi molestiae. Est, alias inventore.</li>
            <li>Posted on DATE</li>
        </ul>
        <hr class="seperator">
        <ul class="list-unstyled p-2">
            <li>Rating: STAR STAR STAR</li>
            <li>USER says: Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo accusantium doloremque quisquam modi magnam. In distinctio provident repellat, 
                qui ipsum natus quia minima, facere quidem, quasi molestiae. Est, alias inventore.</li>
            <li>Posted on DATE</li>
        </ul>
        <hr class="seperator">
    </div>
    <div class="col-md-5">
        <h2>Add A Review!</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label for="bookreview" class="col-md-2 col-form-label">Review:</label>
                <div class="col">
                    <textarea class="form-control" name="bookreview" id="bookreview" rows="6" aria-describedby="ReviewHelp"></textarea>
                    <small id="ReviewHelp" class="form-text text-muted">
                        Please be as detailed as you'd like with the review! No spoliers though!
                    </small>
                </div>
            </div>
            <div class="form-group row">
                <label for="bookrating" class="col-md-2 col-form-label">Rating:</label>
                <div class="col-6">
                    <select class="custom-select" name="bookrating" id="bookrating">
                        <option selected>Pick A Rating!</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col text-right">
                    <button type="submit" class="btn btn-success">Add Review!</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}