.form-header-text {
    display: inline-block;
    font-size: 1.75em;
    margin-top: -15px;
    background-color: white;
    border: 1px solid black;
    padding: 2px;
}

iframe.long-frame {
    min-height: 600px;
}